$orange: #ff6846;
$blue: #2a7eca;
$green: #48f76a;
$black: #000000;
$white: #ffffff;
$gray: #858585;
$yellow: #fff72d;
$red: #ff0000;

$font1: 'Montserrat', sans-serif;
$font2: 'Anglecia Pro Display', sans-serif;
$font3: 'Icomoon';

$desktop: "(min-width: 1600px)";
$laptops: "(max-width: 1599px)";
$horizontal-tablet: "(max-width: 1199px)";
$vertical-tablet: "(max-width: 990px)";
$horizontal-mobile: "(max-width: 767px)";
$vertical-mobile: "(max-width: 479px)";
