.bug-report-status-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 99999999;
}

/* loader */
.bug-report-loader {
    display: none;
    height: 2px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

.bug-report-make-screen {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(../img/photo-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
}

.bug-report-status-bar.show .bug-report-loader {
    display: block;
}

.bug-report-status-bar.show .bug-report-make-screen {
    display: none;
}

.bug-report-loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 2px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/* end loader */