body.brblured {
    overflow: hidden;
}

body.brblured .blured-bg-report {
    filter: blur(3px);
}

#bugreport-ellipse {
    background-image: url(../img/ellipse.svg);
}

#bugreport-quadrangle {
    background-image: url(../img/rectangle.svg);
}

#bugreport-pencil {
    background-image: url(../img/pencil-tool.svg);
}

.tools {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-end;
}

.tools-wrap {
    display: flex;
    align-items: flex-end;
}

.bg-link {
    background-color: transparent;
    border: none;
    color: #f9a602;
    text-shadow: 0 0 6px black, 0 0 10px black, 0 0 15px #f9a602;
    font-size: 17px;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    line-height: 1em;
}

.bg-link:focus {
    outline: none;
}
.bg-link:hover:after {
    opacity: 1;
}

.bg-link:after {
    content: '';
    display: block;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    bottom: -3px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: #f9a602;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.5);
}

#bg-file-image-load {
    display: none;
}

.tools .tool {
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    position: relative;
    cursor: pointer;
    padding: 5px;
    background-color: #444;
    transition: all 0.2s;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.65);
    border: 1px solid transparent;
}

.tools .tool.active {
    border: 1px solid #f9a602;
    box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.tools .tool:hover {
    border: 1px solid #f9a602;
}

.tools .tool:not(:first-child) {
    margin-left: 10px;
}

.bug-report-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 99999999;
    font-family: Arial;
}

.bug-report-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    z-index: 1;
}

.bug-report-wrap.show {
    display: flex;
}

.bug-report-window {
    display: flex;
    box-sizing: border-box;
    width: 95%;
    max-height: 95%;
    margin: auto;
    border-radius: 3px;
    /*box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.6);*/
    padding: 15px;
    overflow: auto;
    z-index: 1;
    position: relative;
}

.bug-report-wrap .bg-button:hover {
    padding: 10px 22px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 6px black, 0 0 10px black, 0 0 15px #f9a602
}

.bug-report-wrap .bg-button {
    border: 2px solid #f9a602;
    padding: 10px 20px;
    background-color: #444;
    color: #f9a602;
    text-shadow: 0 0 6px black, 0 0 10px black, 0 0 15px #f9a602;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
    margin: 0 15px;
    display: block;
    cursor: pointer;
    font-family: Areal;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.2s;
}

.bug-report-wrap .bg-button.bug-report-submit {
    margin: 15px auto 0;
}

.bug-report-wrap .bg-button:focus {
    outline: none;
}

.bug-report-text {
    width: 100%;
    box-sizing: border-box;
    color: #f9a602;
    text-shadow: 0 0 6px black, 0 0 10px black, 0 0 15px #f9a602;
}

.bug-report-text label {
    display: block;
    margin-bottom: 8px;
}

.bug-report-text-elements {
    width: calc(30% - 2px);
    padding-left: 15px;
    padding-top: 16px;
    box-sizing: border-box;
}

.canvas-wrap {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.make-screen {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 1em;
}

#canvasSimple {
    width: 100%;
    height: 100%;
}

#canvasSimpleDiv .hide {
    display: none;
}

#canvasSimpleDiv {
    border: 1px solid #f9a602;
    background-color: #444;
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    color: #f9a602;
    font-size: 20px;
    text-shadow: 0 0 6px black, 0 0 10px black, 0 0 15px #f9a602;
}

#bug-report-image {
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#bug-description {
    width: 100%;
    height: 15em;
    resize: none;
    outline: none;
    border: 1px solid #f9a602;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 9);
    box-sizing: border-box;
    background-color: #444;
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}